{% extends "mail_templated/base.tpl" %}
{% load bootstrap3 %}

{% block subject %}
    SISGEP-COMIC Aviso: {{ aviso.titulo }}
{% endblock %}

{% block html %}
    <p>
        {{ aviso.texto|linebreaks }} 
    </p>
    <br>
    <br>
    <p>
        Dúvidas, acesse o <a href="https://comic.lapinf.ufn.edu.br" target="_blank"> SISGEP-COMIC UFN</a>
    </p>
    <br>
    <p>***** MENSAGEM GERADA AUTOMATICAMENTE. NÃO RESPONDA. *****</p>
    <hr>
    <p><small>Desenvolvido pelo Laboratório de Práticas da Computação UFN - Direitos Reservados</small></p>
{% endblock %}



