{% extends "mail_templated/base.tpl" %}
{% load bootstrap3 %}

{% block subject %}
    {{ usuario.nome }} Seja bem-vindo(a) ao SISGEP-COMIC. Valide o seu cadastro!
{% endblock %}

{% block html %}
    <h1>SISGEP-COMIC</h1>
    <br>
    <p>Olá <strong>{{ usuario.nome }}</strong>, antes de utilizar a plataforma <strong>SISGEP-COMIC</strong> você precisa habilitar a sua conta.</p>
    <p>Clique <a href='{{ usuario.get_usuario_register_activate_url }}'>aqui</a> para confirmar o seu e-mail e habilitar a sua conta.</a> </p>
    <br>
    <p>***** MENSAGEM GERADA AUTOMATICAMENTE. NÃO RESPONDA. *****</p>
    <br>
    <hr>
    <p><small>Desenvolvido pelo Laboratório de Práticas da Computação UFN</small></p>
{% endblock %}