{% extends 'core/base.html' %}
{% load bootstrap3 %}

{% block title %}
	{% bootstrap_icon 'check' %} Avaliações
{% endblock %}


{% block content %}
<div class="panel panel-default">
	<div class="panel-body">
	  <form class="form">
		  <div class="row">
			  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2">
				  {% bootstrap_field form.edital  %}
			  </div>
			  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				  {% bootstrap_field form.titulo  %}
			  </div>
			  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2">
				{% bootstrap_field form.nome_integrante %}
			  </div>
			  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2">
				{% bootstrap_field form.status %}
			  </div>
			  <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
				  <br>
				  <button type="submit" class="btn btn-success btn-lg"  style="width: 100%;">{% bootstrap_icon 'search' %} Buscar</button>
			  </div>
		  </div>
	  </form>
	</div>
  </div>

	<div class="table-responsive">
		<table class="table table-hover">
	  		<thead>
				<th>Edital</th>
				<th>Submissão</th>
				<th>Avaliador Responsável</th>
				<th>Data avaliação</th>
				<th>Avaliador Suplente</th>
				<th>Data avaliação</th>
				<th>Gerar parecer COMIC</th>
	  			<th>Status</th>
	  			<th>Prazo avaliação</th>
	  			<th class="text-center">Editar</th>
	  			<th class="text-center">Excluir</th>
	  		</thead>
	  		<tbody>
	  			{% for avaliacao in object_list %}
					<tr>
						<td>{{ avaliacao.submissao.edital }}</td>
						<td>
							{% if avaliacao.submissao %}
								{{ avaliacao.submissao }}
								<br> 
								<span class="badge badge-info">
									Submetido em: {{ avaliacao.submissao.dt_cadastro_submissao|date:"d/m/Y" }}
								</span>
							{% endif %}
						</td>
						<td>
							{% if avaliacao.avaliador_responsavel %}
								{{ avaliacao.avaliador_responsavel }}
							{% endif %}
						</td>
						<td>							
							{% if avaliacao.dt_avaliacao_responsavel %}
								{% if avaliacao.dt_avaliacao_responsavel < avaliacao.dt_limite_avaliacao %}
									<span class="label label-success">
										{{ avaliacao.dt_avaliacao_responsavel|date:'d/m/Y' }}
									</span>
								{% else %}	
									<span class="label label-danger" >
										{{ avaliacao.dt_avaliacao_responsavel|date:'d/m/Y' }}
									</span>
								{% endif %}
							{% else %}
								<span class="label label-warning">
									Sem parecer
								</span>
							{% endif %}
						</td>
						<td>
							{% if avaliacao.avaliador_suplente %}
								{{ avaliacao.avaliador_suplente }}
							{% else %}
								Não informado
							{% endif %}
						</td>
						<td>	
							{% if avaliacao.dt_avaliacao_suplente %}
								{% if avaliacao.dt_avaliacao_suplente < avaliacao.dt_limite_avaliacao %}
									<span class="label label-success">
										{{ avaliacao.dt_avaliacao_suplente|date:'d/m/Y' }}
									</span>
								{% else %}	
									<span class="label label-danger" >
										{{ avaliacao.dt_avaliacao_suplente|date:'d/m/Y' }}
									</span>
								{% endif %}	
							{% else %}
								<span class="label label-warning">
									Sem parecer
								</span>
							{% endif %}							
						</td>
						<td>
							<span data-toggle="tooltip" title='Gerar parecer no COMIC'>
								<a href="{{ avaliacao.get_parecer_create_update_url }}" class="btn btn-sm {% if avaliacao.get_parecer %}btn-success{% else %}btn-warning{% endif %}">
									{% bootstrap_icon 'check' %}
								</a>
							</span>
                        </td>
						<td>
                            {% if avaliacao.comissao %}
                                {{ avaliacao.comissao.get_status_display|upper }}
                            {% else %}
                                EM ANÁLISE
                            {% endif %}
                        </td>					
						<td>{{ avaliacao.dt_limite_avaliacao|date:'d/m/Y' }}</td>
						<td class="text-center">
							<span data-toggle="tooltip"  title='Editar avaliação'>
								{% bootstrap_button content='' href=avaliacao.get_absolute_url button_type='link' icon='edit' button_class='btn btn-primary' size='sm' %}
							</span>
					    </td>
					    <td class="text-center">
							<span data-toggle="tooltip"  title='Excluir avaliação'>
								{% bootstrap_button content='' href=avaliacao.get_delete_url button_type='link' icon='trash' button_class='btn btn-danger' size='sm' %}
							</span>
					    </td>
					</tr>
				{% endfor %}
	  		</tbody>
			<tfoot>
				<th>
					Total de registros: {{ object_list|length }}
				</th>
			</tfoot>
		</table>
	</div>
{% endblock %}