{% extends 'core/base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block title %}
	{% bootstrap_icon 'question-sign' %} Sobre
{% endblock %}


{% block content %}
	<center>
	<!-- <img src="{% static 'core/img/logoLasimon.png' %}"
         class="img-responsive"> -->
    </center>

	<h3>Projeto em parceria entre Laboratório de Práticas (Ciência da Computação e Sistemas de Informação), Comitê de Gestão de Projetos Científicos (COMIC)</h3>
	<h4>Registro no INPI: BR512021000883-9</h4>
	<h4>Suporte técnico:</h4>
	<ul>
		<li>suporte.comic@ufn.edu.br</li>
	</ul>
	<h4>Versões:</h4> 
	<ul>
		<li>1.0 de Dezembro de 2019</li>
		<li>1.1 de Março de 2020; 1.2 de Abril de 2020; 2.0 de Maio de 2020; 2.1 de Outubro de 2020</li>	
		<li>2.2 de Março de 2021</li>	
		<li>2.3 de Junho de 2024</li>	
	</ul>
	<h4>Apoio:</h4>
	<ul>
		<li>CNPq</li>
	</ul>
	<h4>
		Colaboradores:
	</h4>
	<ul> 
		<li><strong>UFN</strong></li>
		
			<ul>
				<li>Professores:</li>
				<ul>
					<li>Alexandre Zamberlan</li>
					<li>Fernando Prass</li>
					<li>Huander Felipe Andreolla - Coordenador do Projeto: huander.andreolla@ufn.edu.br</li>
					<li>Reiner Perozzo - Coordenador Curso Ciência da Computação: cienciacomputacao@ufn.edu.br</li>
					<li>Sylvio Vieira - Coordenador do Laboratório de Práticas: labpinf@ufn.edu.br</li>	
				</ul>
				<li>Alunos:</li>
				<ul>
					<li>Pierre Fenner - Ciência da Computação</li>
					<li>Eduardo Palharini - Sistemas de Informação</li>
					<li>Patrick Tolio Müller - Sistemas de Informação</li>
				</ul>
			</ul>
		
		<li><strong>Parcerias:</strong></li>
		
			<ul>
				<li>Empresas <a href="http://site.ersistemas.info/" target="_blank"> ER Sistemas</a> |  <a href="http://erclinic.com.br/" target="_blank"> ER Clinic</a> - Robertson Ebling dos Santos (egresso do curso de Sistemas de Informação)</li>
			</ul>
	</ul>
{% endblock %}