{% extends "usuario/usuario_register_base.html" %}
{% load bootstrap3 %}

{% block actions %}
{% endblock %}

{% block title %}
	{% bootstrap_icon 'user' %} Cadastro de usuário
{% endblock %}

{% block content %}
{% bootstrap_alert 'Parabéns, o seu usuário foi cadastrado com sucesso. Acesse o seu email para validar o seu cadastro. Caso não encontre o email na caixa de entrada, verifique a sua caixa de spam' 'success' %}
<form action=" {% url 'home_redirect' %}" method=" get">
    <input type="submit" class = 'btn btn-info'value="Voltar" />
</form>
{% endblock %}